.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  width: 100%;
}

.custom-input {
  padding: 0.6rem;
  font-family: var(--font-alt);
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

.custom-input:focus {
  outline: none;
  border-color: var(--color-black);
  box-shadow: 0 0 0 1px var(--color-black);
}

.custom-input::placeholder {
  color: #999;
  font-style: italic;
}
